[submodule "lib/AdvTiledLoader"]
	path = lib/AdvTiledLoader
	url = git://github.com/Kadoba/Advanced-Tiled-Loader.git
[submodule "lib/middleclass"]
	path = lib/middleclass
	url = git://github.com/kikito/middleclass.git
[submodule "lib/json4lua"]
	path = lib/json4lua
	url = git://github.com/luaforge/json.git
[submodule "lib/jumper"]
	path = lib/jumper
	url = git://github.com/Yonaba/Jumper.git
